@charset "UTF-8";

#titlebar {
	/*background: url('/resources/images/wregex.png') left center no-repeat, url('/resources/images/ehu.png') right center no-repeat, linear-gradient(to top right, #eee, #000);*/
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(238,238,238,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, rgba(238,238,238,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, rgba(238,238,238,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(238,238,238,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(45deg, rgba(238,238,238,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	height: 78px;
	width: 100%;	
}

#menubar {
	background: #5b5b5b;
	padding: 3px 10px;
	font-size: 14px;
	color: white;
	text-decoration: none;
}

.menuitem {
	color: white;
	text-decoration: none;
	font-size: 120%;
	font-weight: bold;
}