@charset "UTF-8";

/*body {
	font-family: Sans-serif;
	font-size: 11px;
}*/

.slice {
	cursor: pointer;
}

.slice .main-arc {
	stroke: #fff;
	stroke-width: 1px;
}

.slice .hidden-arc {
	fill: none;
}

.slice text {
	pointer-events: none;
	dominant-baseline: middle;
	text-anchor: middle;
}

.slice .stroke {
  	fill: none;
  	stroke: white;
  	stroke-width: 5px;
  	stroke-linejoin: round;
}

.slice .leaf-text {
	font-size: 0.75em;
	/*fill: white;*/
	/*mix-blend-mode: difference;*/
}