@charset "UTF-8";

/* Common */

h1, h2 {
	color: var(--text-color);
}

.pagetitle {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5rem;
	font-weight: bold;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: var(--text-color);
}

.logo {
	display: block;
	height: 45px;
	margin-left: auto;
	margin-right: auto;
}

.projects {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: stretch;
	margin: 1rem;
	gap: 1rem;
}

.projects .project {
	text-align: center;	
}

.projects .project img {
	max-height: 200px;
	max-width: 90%;
	width: auto;
    height: auto;
	vertical-align: middle;
	/*margin-left: auto;
	margin-right: auto;*/
	/*margin-top: 1rem;*/
}

.projects .project .ui-card-header {
	height: 220px;	
}

.projects .project .ui-card-content {
	display: none;
}

.projects .project .ui-card-footer {
	display: flex;
	justify-content: center;
	gap: 0.5rem;	
}

.projects .project span {
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.ui-chronoline-event .work .ui-card .ui-card-body .ui-card-title {
	font-size: 1.2rem;
}

.ui-chronoline-event .icon {
	height: 4rem;
	margin: 1rem;
}

.ui-chronoline-event .journal-article {
	content: url("#{resource['img/paper.svg']}");
}

.ui-chronoline-event .conference-paper {
	content: url("#{resource['img/conference.svg']}");
}

.ui-chronoline-event .book-chapter {
	content: url("#{resource['img/book.svg']}");
}

/*.ui-chronoline-event .dissertation-thesis {	
}*/

.ui-chronoline-event .work {
	display: flex;
}

.ui-chronoline-event:nth-child(odd) .work {
	flex-direction: row;
}

.ui-chronoline-event:nth-child(even) .work {
	flex-direction: row-reverse;
}

.customized-chronoline .top-year {
	display: none;
}

.about {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: stretch;
	margin: 1rem;
	gap: 1rem;
}

.about .item .ui-card-title {
	text-align: center;
}

.about .item .ui-card-header img {
	display: block;
	max-width: 90%;
	max-height: 200px;
	width: auto;
  	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
}

.twitter-container {
	display: block;	
	margin-left: auto;
	margin-right: auto;
}

/* Mobile */

.projects .project {
	max-width: 100vw;	
}

.about .item {
	max-width: 100vw;
}

.twitter-container {
	max-width: 100vw;
}

@media screen and (max-width: 960px) {
	.customized-chronoline .ui-chronoline-event:nth-child(even) {
        flex-direction: row !important;
    }

    .customized-chronoline .ui-chronoline-event:nth-child(even) .ui-chronoline-event-content {
        text-align: left !important;
    }

    .customized-chronoline .ui-chronoline-event-opposite {
        flex: 0;
    }

    .customized-chronoline .ui-card {
        margin-top: 1rem;        
    }
    
    .customized-chronoline .work .ui-card .ui-card-body .ui-card-title{
    	font-size: 1rem;
    }
    
    .customized-chronoline .ui-chronoline-event .icon {
    	display: none;
    }
    
    .customized-chronoline .ui-chronoline-event .work {
    	flex-direction: column;
    }
    
    .customized-chronoline .top-year {
    	display: inline-block;
		max-height: 3rem;		
    }
    
    .customized-chronoline .opp-year {
		display: none;
    }
    
    .customized-chronoline .ui-chronoline-event-opposite {
    	display: none;
    }
    
    .customized-chronoline .ui-chronoline-event-separator {
    	display: none;
    }
}

/* Desktop */

@media only screen and (min-width: 600px) {
	.projects .project {
		max-width: 350px;	
	}		
	
	.about .item {
		max-width: 600px;
	}
	
	.about .item .ui-card-header img {
		max-width: 500px;
	}
	
	.twitter-container {
		max-width: 600px;
	}	
}