@charset "UTF-8";

.ui-steps.custom {
	margin-top: 30px;
	margin-bottom: 50px;
}

.ui-steps.custom .ui-steps-item .ui-menuitem-link {
	height: 10px;
	padding: 0 1em;
}

.ui-steps.custom .ui-steps-item .ui-steps-number {
	background-color: #0081c2;
	color: #FFFFFF;
	display: inline-block;
	width: 30px;
	border-radius: 10px;
	margin-top: -10px;
	margin-bottom: 10px;
	margin-bottom: 10px;
}

.ui-datatable table {
    table-layout: auto
}